---
http_interactions:
- request:
    method: post
    uri: http://transcribeme-api.cloudapp.net/PortalAPI.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://TranscribeMe.API.Web"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:SignIn><wsdl:sessionID>0aaef84b-d303-493c-83c4-c6b69b7ea667</wsdl:sessionID><wsdl:username>example@transcribeme.com</wsdl:username><wsdl:password>example</wsdl:password></wsdl:SignIn></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://TranscribeMe.API.Web/IPortalAPI/SignIn"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><SignInResponse
        xmlns="http://TranscribeMe.API.Web"><SignInResult>65a747ae-0ea4-46a4-afb0-2b76901005ae</SignInResult><errorCode>0</errorCode><errorMessage/></SignInResponse></s:Body></s:Envelope>
  recorded_at: Mon, 26 Aug 2013 01:16:07 GMT
recorded_with: VCR 2.5.0
