---
http_interactions:
- request:
    method: get
    uri: http://transcribeme-api.cloudapp.net/PortalAPI.svc?wsdl=wsdl0
    body:
      encoding: UTF-8
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions targetNamespace="http://tempuri.org/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://TranscribeMe.API.Web"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsdl:import
        namespace="http://TranscribeMe.API.Web" location="http://transcribeme-api.cloudapp.net/PortalAPI.svc?wsdl"/><wsdl:types/><wsdl:binding
        name="BasicHttpBinding_IPortalAPI" type="i0:IPortalAPI"><soap:binding transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation
        name="InitializeSession"><soap:operation soapAction="http://TranscribeMe.API.Web/IPortalAPI/InitializeSession"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="SignUp"><soap:operation
        soapAction="http://TranscribeMe.API.Web/IPortalAPI/SignUp" style="document"/><wsdl:input><soap:body
        use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation><wsdl:operation
        name="SignIn"><soap:operation soapAction="http://TranscribeMe.API.Web/IPortalAPI/SignIn"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsd[...]
- request:
    method: post
    uri: http://transcribeme-api.cloudapp.net/PortalAPI.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://TranscribeMe.API.Web"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:InitializeSession></wsdl:InitializeSession></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://TranscribeMe.API.Web/IPortalAPI/InitializeSession"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><InitializeSessionResponse
        xmlns="http://TranscribeMe.API.Web"><InitializeSessionResult>1a1f69a5-0e0b-482e-906c-f4d074124288</InitializeSessionResult></InitializeSessionResponse></s:Body></s:Envelope>
  recorded_at: Mon, 26 Aug 2013 01:09:25 GMT
- request:
    method: post
    uri: http://transcribeme-api.cloudapp.net/PortalAPI.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://TranscribeMe.API.Web"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:SignIn><wsdl:sessionID>1a1f69a5-0e0b-482e-906c-f4d074124288</wsdl:sessionID><wsdl:username>example@transcribeme.com</wsdl:username><wsdl:password>example</wsdl:password></wsdl:SignIn></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://TranscribeMe.API.Web/IPortalAPI/SignIn"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><SignInResponse
        xmlns="http://TranscribeMe.API.Web"><SignInResult>00000000-0000-0000-0000-000000000000</SignInResult><errorCode>204</errorCode><errorMessage>Provided
        credentials are invalid. Please check your login and password and try again.</errorMessage></SignInResponse></s:Body></s:Envelope>
  recorded_at: Mon, 26 Aug 2013 01:09:27 GMT
recorded_with: VCR 2.5.0
